!!!
%html{ :lang => 'en' }
  %head
    %link{:href => "stylesheets/stylesheet.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "stylesheets/date_slider.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/

    = js 'jquery-1.4.3.min'
    = js 'jquery.scrollTo-1.4.2'
    = js 'jquery.timer'

    %script{ :src => "http://maps.google.com/maps?file=api&amp;v=2&amp;key=xxx;hl=en", :type => 'text/javascript' }

    / = js 'picky.extensions'
    / = js 'picky.translations'
    / = js 'picky.data'
    / = js 'picky.view'
    / = js 'picky.backend'
    / = js 'picky.controller'
    / = js 'picky.client'
    / = js 'picky.addination'
    / = js 'picky.results_renderer'
    / = js 'picky.allocation_renderer'
    / = js 'picky.allocations_cloud'

    = js 'picky.min'
  %body
    %p
      #map_div{ :style => "width:690px;height:340px;" }
    %p
      %input#coordinates{ :type => 'checkbox', :checked => 'checked' } Enable coordinates
      %input#timestamp{ :type => 'checkbox' } Enable timestamp
    %p
      %input{ :type => "range", :style => "width:100%", :min => "310661362", :max => "324727837", :value => "310661362", :step => "21600" }
    %p
      #date Current Date
    / %p
    /   #date_range
    %p iPhone Location Search
    = Picky::Helper.cached_interface
    :javascript
      // The client
      pickyClient = new PickyClient({
        // A full query displays the rendered results.
        //
        full: '/search/full',
        fullResults: 100,

        // A live query just updates the count.
        //
        live: '/search/live',

        // Optional. Default is 10.
        //
        showResultsLimit: 100,

        // before: function(params, query, offset) {  }, // Optional. Before Picky sends any data.
        // success: function(data, query) {  }, // Optional. Just after Picky receives data. (Get a PickyData object)

        after: function(data, query) {
          map.clearOverlays();

          var geo = data.original_hash.geo;
          if (geo) {
            for (var i = 0; i < geo.length; i++) {
              map.addOverlay(new GMarker(new GLatLng(geo[i][0], geo[i][1])));
            };
          }
        }, // Optional. After Picky has handled the data and updated the view.

        // This is used to generate the correct query strings, localized. E.g. "subject:war".
        // Optional. If you don't give these, the field identifier given in the Picky server is used.
        //
        qualifiers: {
          en:{
            subjects:  'subject'
          }
        },

        // This is used to explain the preceding word in the suggestion text, localized. E.g. "Peter (author)".
        // Optional. Default are the field identifiers from the Picky server.
        //
        explanations: {
          en:{
            title:     'titled',
            author:    'written by',
            year:      'published in'
            // publisher: 'published by',
            // subjects:  'topics'
          }
        }
      });

      // An initial search text, prefilled.
      //
      pickyClient.insert('latitude:46.947 longitude:7.446');

      var useCoordinates = function() {
        return $('input#coordinates').attr('checked');
      };
      var useTimestamp = function() {
        return $('input#timestamp').attr('checked');
      };
      var last = {
        latitude: 46.947,
        longitude: 7.446,
        timestamp: 308188800000
      };
      var updateClient = function(options) {
        var options = options || {};

        $.extend(last, options);

        var timestampSearchString = useTimestamp()   ? 'ts:'         + last.timestamp : '';
        var latitudeSearchString  = useCoordinates() ? ' latitude:'  + last.latitude  : '';
        var longitudeSearchString = useCoordinates() ? ' longitude:' + last.longitude : '';

        pickyClient.insert(
          timestampSearchString +
          latitudeSearchString +
          longitudeSearchString
        );
      };

      $('input:checkbox').click(function() {
        updateClient();
      });

      // The map
      //
      $(document).ready(function() {
        if (GBrowserIsCompatible()) {
          map = new GMap2(document.getElementById('map_div'));
          map.addControl(new GSmallMapControl());
          map.setCenter(new GLatLng(46.85, 8.05), 13);
          map.setZoom(7);

          GEvent.addListener(map, "click", function(overlay, latlng) {
            if (latlng) {
              updateClient({
                latitude:  Math.round(latlng.lat()*1000)/1000,
                longitude: Math.round(latlng.lng()*1000)/1000
              });
            }
          });
        }
      });

      // Date
      //
      var iPhoneStartDate = new Date(2001, 0, 1);
      $('input[type=range]:first').change(function() {
        var value = $(this)[0].value;

        var currentDate = new Date(2001, 0, 1);
        currentDate.setDate(iPhoneStartDate.getDate() + (value/86400));
        $('#date').html('' + currentDate);

        updateClient({timestamp:value});
      });