!!!
%html{ :lang => 'en' }
  %head
    %link{ :href => 'stylesheets/statistics.css', :media => 'screen', :rel => 'stylesheet', :type => 'text/css' }/
    %script{ :src => 'javascripts/jquery-1.4.4.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/jquery.sparkline-1.6.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/statistics.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/d3/d3.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/d3/d3.layout.min.js', :type => 'text/javascript' }
    %script{ :src => 'javascripts/rickshaw.js', :type => 'text/javascript' }
    / %script{ :src => 'javascripts/d3/d3.layout.min.js', :type => 'text/javascript' }

  %body
    %h1 Clam: Picky Statistics Interface.
    .actions
      %button{ :href => '#', :onclick => 'javascript:updateStatistics();' } Update now
      |
      %button{ :href => '#', :onclick => 'javascript:stopUpdatingStatistics();' } Stop Updating
      %button{ :href => '#', :onclick => 'javascript:updateStatisticsPeriodically(5);' } Update every 5 seconds
      %button{ :href => '#', :onclick => 'javascript:updateStatisticsPeriodically(30);' } Update every 30 seconds
      %button{ :href => '#', :onclick => 'javascript:updateStatisticsPeriodically(600);' } Update every 5 minutes
    .overview
      #full_live_graph.stats
        %h3 Full/Live
        .graph
        .legend
        %script{ :src => 'javascripts/full_live.js', :type => 'text/javascript' }
    .full
      #results_graph.stats
        %h3 Counts
        .graph
        .legend
        %script{ :src => 'javascripts/results.js', :type => 'text/javascript' }
    .full
      #speed_graph.stats
        %h3 Performance
        .inlinesparkline
        = haml :legend, {}, :color => :green, :type => :quick, :text => 'quick (< 0.001s)'
        = haml :legend, {}, :color => :darkgreen, :type => :normal, :text => 'normal'
        = haml :legend, {}, :color => :orange, :type => :slow, :text => 'slow (> 0.1s)'
        = haml :legend, {}, :color => :red, :type => :very_slow, :text => 'very slow (> 1s)'
    .full
      #offset_graph.stats
        %h3 Offsets
        .inlinesparkline
        = haml :legend, {}, :color => :black, :type => :with_offset, :text => 'with offset'
        = haml :legend, {}, :color => :grey, :type => :without_offset, :text => 'without offset'
  :javascript
    updateStatistics();