---
title: Documentation
---

/ This file puts all sections together in a nice one page documentation.

.container_2
  .grid_1.index
    = partial 'documentation/linkage'
  .grid_1.help
    /= partial 'documentation/help'
    /= partial 'documentation/api'
    = partial 'documentation/intro'
    = partial 'documentation/generators'
    = partial 'documentation/servers'
    = partial 'documentation/tokenizing'
    = partial 'documentation/indexes'
    = partial 'documentation/search'
    = partial 'documentation/results'
    = partial 'documentation/facets'
    = partial 'documentation/thanks'